<% if current_user %>
<script >
  $(document).ready(function(){
    $(".active").on({
      mouseenter: function(){
        $(this).css("background-color", "#111");
      },
      mouseleave: function(){
        $(this).css("background-color", "#4CAF50");
      }
    });
  });
</script>
<ul  class = "n">
  <li class= "user">Welcome <strong><%= current_user.username %></strong></li>
  <li><%= link_to ' Home', home_path, class: 'navigation' %></li>
  <li><%= link_to ' Contact Us', contact_path, class: 'navigation' %></li>
  <li class = "active">
  <%= link_to ' Log Out', destroy_user_session_path, method: :delete, class: 'active' %>
  </li>
</ul>
<% end %>
